.basket
	&-prev
	 text-align: right
	 margin-left: auto
	 display: flex 
	 flex-direction: column
	 color: #fff
	 &__icon
	  font-size: 24px
	  cursor: pointer
	  margin-bottom: 5px
	 &__title
	  font-weight: 700
	  line-height: 20px	
	 &__count
	  font-size: 12px
	  line-height: 18px
	  cursor: pointer

